.aboutBlock {
    z-index: 120;
    width: 65%;
    height: 80vh;
    margin-left: 6%;
    margin-top: 2vh;
    border: 4px solid rgb(212, 42, 255);
    animation-name: bounceIn;
    animation-duration: 2.5s;
    position: absolute;
}

@keyframes fadeInTopRight {
    from {
        opacity: 0;
        transform: translate3d(100%, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInTopRight {
    animation-name: fadeInTopRight;
}
