.block_icon {
    width: 40px;
    bottom: 0;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 10px;
}
.block_icon1 {
    z-index: 120;
    width: 40px;
    bottom: 0;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 10px;
}
.line {
    height: 150px;
    border-left: solid black 4px;
    margin-left: 16px;
}
.line2 {
    height: 200px;
    border-left: solid rgb(255, 44, 244) 4px;
    margin-left: 16px;
}
