.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header_block1 {
    display: flex;
    justify-content: space-between;
}
.header_logo {
    font-size: 25px;
    margin-left: 10px;
    z-index: 100;

    animation-name: backInUp;
    animation-duration: 1.5s;
}
.header_item1 {
    font-size: 25px;
    margin-left: 20px;
    z-index: 100;
    color: rgb(245, 70, 236);
    cursor: pointer;
}
.header_link {
    margin-right: 10px;
    font-size: 25px;
    color: rgb(245, 70, 236);

    animation-duration: 1.5s;
}
.header_bottom {
    margin-right: 5%;
    color: rgb(245, 70, 236);
    z-index: 100;
    border-radius: 50%;

    margin-top: 20px;
    font-size: 50px;
    cursor: pointer;
    text-decoration: none;

    animation-name: backInDown;
    animation-duration: 1.5s;
}

@keyframes backInDownn {
    0% {
        transform: translateY(-1200px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.header_bottom:hover {
    font-size: 60px;
    transition: all 0.8s ease 0.3s;
}

.rotateInM {
    animation: rotateIn 5s infinite;
    transform-origin: center;
    animation-name: rotateIn;
}

@keyframes rotateIn {
    from {
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
