.parent {
    width: 30%;
    height: 30%;

    top: 0;
    left: 0;
    overflow: auto;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}

.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    cursor: pointer;
}

.block img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

img.block_icon2 {
    animation: 3s linear 0s normal none infinite running rot;
    -webkit-animation: 6s linear 0s normal none infinite running rot;
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* //////////////////////////////////////////////////////////////////////////// */
