.Workh11 {
    position: absolute;
    margin-left: 50%;
    font-size: 15vw;
    z-index: 120;
    color: rgba(255, 43, 227, 0.062);
}

.WorkBlock {
    z-index: 100;

    height: auto;
    display: flex;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.WorkBlock_b1 {
    width: 300px;
    height: 420px;
    background-color: rgba(19, 5, 43, 0.945);
    z-index: 100;
    border: solid 3px rgb(113, 37, 199);
}
.WorkBlock_b1:hover {
    background-color: black;
}

#wok1 {
    animation-name: zoomIn;
    animation-duration: 2.5s;
}
#wok2 {
    animation-name: zoomIn;
    animation-duration: 3.5s;
}
#wok3 {
    animation-name: zoomIn;
    animation-duration: 4.5s;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1);
    }

    50% {
        opacity: 1;
    }
}

.over_f {
    overflow: hidden;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.swiper {
    margin-top: 20px;
    width: 350px;
    height: 500px;
    animation-name: zoomIn;
    animation-duration: 3.5s;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    border-radius: 5%;
}

.okk {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
