.Workh11 {
    position: absolute;
    margin-left: 50%;
    font-size: 200px;
    z-index: 120;
    color: rgba(255, 43, 227, 0.062);
}

.WorkBlock {
    z-index: 100;
    width: 90%;
    height: auto;
    display: flex;
    margin-top: 100px;
    margin-left: 10%;
    justify-content: space-between;
}

.WorkBlock_b1 {
    width: 44%;
    height: 50vh;
    background-color: rgba(19, 5, 43, 0.945);
    z-index: 100;
    border: solid 3px rgb(252, 36, 234);
}

#wok1 {
    animation-name: zoomIn;
    animation-duration: 1.5s;
}
#wok2 {
    animation-name: zoomIn;
    animation-duration: 2.5s;
}
#wok3 {
    animation-name: zoomIn;
    animation-duration: 3.5s;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}
